@import 'navbar';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

//HERO SECTION
.hero{
  background-color: $light;

  &__container{
    display: grid;
    grid-template-columns: 700px 1fr;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1200px; 

    @include largetablet{
      grid-template-columns: 1fr 1fr;
    }

    @include tablet{
      grid-template-columns: 1fr;
      height: 100%;
    }
    

    &--left{
      width: 100%;
      line-height: 1.2;

      @include tablet{
        padding: 5rem 0;
      }

      @include mobile{
        line-height: 1.5  ;
      }

      h1{
        font-size: 4rem;
        color: $lime;

        @include tablet{
          text-align: center;
        }

        @include mobile{
          font-size: 2.9rem;
          
        }
      }

      h2{
        font-size: 4rem;
        color: $dark;
        @include tablet{
          text-align: center;
        }

        @include mobile{
          font-size: 2.9rem;
        }
      }

      p{
        font-size: 1.5rem;
        color: $dark;
        margin-top: 1rem;
        font-weight: 500;

        @include tablet{
          text-align: center;
        }

        @include mobile{
          font-size: 1.4rem;
        }
      }

      button{
        position: relative;
        background-color: $lime;
        font-size: 1rem;
        padding: 14px 32px;
        border: none;
        margin-top: 2rem;
        border-radius: 4px;
        cursor: pointer;
        @include tablet{
          @include center;
        }
        a{
          position: relative;
          color: $light;
          text-decoration: none;
          z-index: 2;
        }

        &::after{
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: $orangeRed;
          transition: all 0.3s;
          border-radius: 4px;

        }

        &:hover:after{
          width: 100%;
          
        }
      }

      
    }

    &--right {
      justify-items: center;
    }
    &--img{
      width: 450px;
      align-self: right;

      @include tablet{ 
        @include center;
      }

      
      
      
      

      @include mobile{
        width: 390px;
        
      }

    }
  }

}