.navbar {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  height: 80px;
  justify-content: space-between;
  padding: 0.5rem calc((100vh - 1200px) / 2);
  z-index: 10;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
}
.navbar__logo {
  color: #222121;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
}
.navbar__bars {
  opacity: 0;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    opacity: 1;
    color: #222121;
    font-size: 1.6rem;
    position: absolute;
    right: 24px;
  }
}
.navbar__bars:hover {
  color: #00ccbb;
  transform: all 1s ease;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--links {
  color: #222121;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar__menu--links:hover {
  color: #00ccbb;
  transition: all 0.3s ease;
}
.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #00ccbb;
  margin-left: 16px;
  color: #f7f7f7;
}
.navbar__menu #button:hover {
  background-color: #fb4b4e;
  transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.hero {
  background-color: #f7f7f7;
}
.hero__container {
  display: grid;
  grid-template-columns: 700px 1fr;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
}
@media screen and (max-width: 1162px) {
  .hero__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .hero__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.hero__container--left {
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 500px) {
  .hero__container--left {
    line-height: 1.5;
  }
}
.hero__container--left h1 {
  font-size: 4rem;
  color: #00ccbb;
}
@media screen and (max-width: 768px) {
  .hero__container--left h1 {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .hero__container--left h1 {
    font-size: 2.9rem;
  }
}
.hero__container--left h2 {
  font-size: 4rem;
  color: #222121;
}
@media screen and (max-width: 768px) {
  .hero__container--left h2 {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .hero__container--left h2 {
    font-size: 2.9rem;
  }
}
.hero__container--left p {
  font-size: 1.5rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .hero__container--left p {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .hero__container--left p {
    font-size: 1.4rem;
  }
}
.hero__container--left button {
  position: relative;
  background-color: #00ccbb;
  font-size: 1rem;
  padding: 14px 32px;
  border: none;
  margin-top: 2rem;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hero__container--left button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__container--left button a {
  position: relative;
  color: #f7f7f7;
  text-decoration: none;
  z-index: 2;
}
.hero__container--left button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fb4b4e;
  transition: all 0.3s;
  border-radius: 4px;
}
.hero__container--left button:hover:after {
  width: 100%;
}
.hero__container--right {
  justify-items: center;
}
.hero__container--img {
  width: 450px;
  align-self: right;
}
@media screen and (max-width: 768px) {
  .hero__container--img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 500px) {
  .hero__container--img {
    width: 390px;
  }
}/*# sourceMappingURL=styles.css.map */